In [1]:
import pandasai as pdAI
import os

os.environ['PANDASAI_API_KEY'] = '$2a$10$yEy7FF7gteY9FEljMo2z3Oxtgx2ntttSNv5adfxmlfJr5EBFQhyDC'

**Exercise: With the sales_data_sample.csv, find the customer who bought the most products with Agent as an assistant. You may require multiple queries in order to achieve this**

In [2]:
import pandas as pd

sales = pd.read_csv('sales_data_sample.csv')

In [3]:
agent = pdAI.Agent([sales])

In [4]:
agent.chat('Sort the dataset by the quantity ordered')

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
751,10409,6,100.00,2,785.64,4/23/2005 0:00,Shipped,2,4,2005,...,Village Close - 106 Linden Road Sandown,2nd Floor,Singapore,NaN,69045,Singapore,APAC,Victorino,Wendy,Small
1287,10407,6,90.19,3,541.14,4/22/2005 0:00,On Hold,2,4,2005,...,3086 Ingle Ln.,NaN,San Jose,CA,94217,USA,NaN,Frick,Sue,Small
907,10423,10,88.14,1,881.40,5/30/2005 0:00,In Process,2,5,2005,...,Rue Joseph-Bens 532,NaN,Bruxelles,NaN,B-1180,Belgium,EMEA,Dewey,Catherine,Small
315,10419,10,100.00,11,1092.20,5/17/2005 0:00,Shipped,2,5,2005,...,Geislweg 14,NaN,Salzburg,NaN,5020,Austria,EMEA,Pipps,Georg,Small
2507,10401,11,100.00,8,1135.31,4/3/2005 00:00,On Hold,2,4,2005,...,7476 Moss Rd.,NaN,Newark,NJ,94019,USA,NaN,Brown,William,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,10405,76,100.00,3,11739.70,4/14/2005 0:00,Shipped,2,4,2005,...,"24, place Kluber",NaN,Strasbourg,NaN,67000,France,EMEA,Citeaux,Frederique,Large
598,10407,76,100.00,2,14082.80,4/22/2005 0:00,On Hold,2,4,2005,...,3086 Ingle Ln.,NaN,San Jose,CA,94217,USA,NaN,Frick,Sue,Large
2689,10401,77,92.00,9,7084.00,4/3/2005 00:00,On Hold,2,4,2005,...,7476 Moss Rd.,NaN,Newark,NJ,94019,USA,NaN,Brown,William,Large
2586,10401,85,88.75,10,7543.75,4/3/2005 00:00,On Hold,2,4,2005,...,7476 Moss Rd.,NaN,Newark,NJ,94019,USA,NaN,Brown,William,Large
418,10405,97,93.28,5,9048.16,4/14/2005 0:00,Shipped,2,4,2005,...,"24, place Kluber",NaN,Strasbourg,NaN,67000,France,EMEA,Citeaux,Frederique,Large

In [5]:
agent.chat('Who is customer with the most orders?')

'The customer with the most orders is Euro Shopping Channel.'

In [6]:
agent.chat('What is the contact name of the customer with the most orders?')

'Diego Freyre'

In [7]:
agent.chat('How much did the customer with the most orders spend?')

912294.11